<!-- navbar.html -->
<header>
  <a href="index.html" class="logo">
    <h1>Mongo Casino</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/games.html">Games</a></li>
      <li><a href="/buy-coins.html">Buy Coins</a></li>
    </ul>
  </nav>
  <div class="profile">
    <a href="/buy-coins.html" class="coins" title="Mongocoins">₥ 1000</a>
    <a href="/profile.html">
      <img
        src="https://static.vecteezy.com/system/resources/previews/023/465/688/non_2x/contact-dark-mode-glyph-ui-icon-address-book-profile-page-user-interface-design-white-silhouette-symbol-on-black-space-solid-pictogram-for-web-mobile-isolated-illustration-vector.jpg"
        alt="Profile Picture"
        class="avatar"
      />
    </a>
  </div>
</header>
